name: Deploy to Vercel

on:
  push:
    branches: ['**']

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy Hook
        run: |
          curl -X POST "https://api.vercel.com/v1/integrations/deploy/prj_Jnikq89EVCAOOxARKWWmpZgNbgTH/lLznMeSfu1"
